@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

.Principal{

  background-color: var(--roxo--400);
  border-radius: 20px;
  color: var(--roxo--800);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  font-family: 'Ga Maamli', sans-serif;

}

.ContainerT {

  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.Txt {

  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  width: 600px;
  margin-bottom: 20px;

}

.title {

  color: var(--roxo--100);
  margin-bottom: 20px;
  margin-top: 10px;

}
.Himg{

  width: 500px;
  height: 250px;

}