.wrapper {
    display: grid;
    grid-template-columns: 256px auto;
    max-width: 78rem;
    margin: 0 auto;
    margin-top: 30px;
    gap: 2rem;
    padding: 0.1rem;
    /*align-items: flex-start;*/
}